@font-face {
  font-family: 'Geogrotesque-Regular';
  src: url('../webfonts/Geogrotesque-Regular.eot');
  src: url('../webfonts/Geogrotesque-Regular.eot?#iefix') format('embedded-opentype'), url('../webfonts/Geogrotesque-Regular.woff2') format('woff2'), url('../webfonts/Geogrotesque-Regular.woff') format('woff'), url('../webfonts/Geogrotesque-Regular.ttf') format('truetype'), url('../webfonts/Geogrotesque-Regular.svg#Geogrotesque-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Geogrotesque-SemiBold';
  src: url('../webfonts/Geogrotesque-SemiBold.eot');
  src: url('../webfonts/Geogrotesque-SemiBold.eot?#iefix') format('embedded-opentype'), url('../webfonts/Geogrotesque-SemiBold.woff2') format('woff2'), url('../webfonts/Geogrotesque-SemiBold.woff') format('woff'), url('../webfonts/Geogrotesque-SemiBold.ttf') format('truetype'), url('../webfonts/Geogrotesque-SemiBold.svg#Geogrotesque-SemiBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'LemonMilk';
  src: url('../webfonts/LemonMilk.eot');
  src: url('../webfonts/LemonMilk.eot?#iefix') format('embedded-opentype'), url('../webfonts/LemonMilk.woff2') format('woff2'), url('../webfonts/LemonMilk.woff') format('woff'), url('../webfonts/LemonMilk.ttf') format('truetype'), url('../webfonts/LemonMilk.svg#LemonMilk') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*---------------------------------------------------------------
	GENERALS
----------------------------------------------------------------*/
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body.node-type-works-index {
  background-color: black;
}
section .more {
  position: absolute;
}
section a.sticker {
  display: inline-block;
  font-family: 'LemonMilk';
  font-size: 25px;
  padding: 3px 12px 5px 12px;
  text-transform: uppercase;
  cursor: pointer;
  background: #e74275;
  /* Old browsers */
  background: -moz-linear-gradient(top, #e74275 0%, #e6362b 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #e74275 0%, #e6362b 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #e74275 0%, #e6362b 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e74275', endColorstr='#e6362b', GradientType=0);
  /* IE6-9 */
}
@media (max-width: 480px) {
  section a.sticker {
    font-size: 15px;
    padding: 4px 8px;
  }
}
section a.sticker:hover,
section a.sticker:visited,
section a.sticker:focus,
section a.sticker:active {
  color: white;
  text-decoration: none;
}
section a.sticker i {
  background: url('../img/ico-plus.svg') 0 0 no-repeat;
  background-size: 30px;
  width: 29px;
  height: 29px;
  display: inline-block;
  margin-right: 12px;
  vertical-align: bottom;
}
@media (max-width: 480px) {
  section a.sticker i {
    background-size: 18px;
    width: 17px;
    height: 17px;
    margin-right: 8px;
  }
}
span.xtnd {
  line-height: 16px;
}
.indent-texte {
  text-indent: -999999em;
}
/*---------------------------------------------------------------
	HEADER & MENU
----------------------------------------------------------------*/
a.return-btn {
  position: absolute;
  top: 30px;
  height: 43px;
  width: 43px;
  right: 0;
  margin-right: 13px;
  cursor: pointer;
  text-indent: -999993em;
  background: url(../img/btn_works_back.svg) 0px 0px no-repeat;
}
#header {
  z-index: 15;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}
#header .container {
  position: relative;
}
#header .menu-btn {
  position: absolute;
  top: 10px;
  right: 0;
  margin-right: 91%;
  cursor: pointer;
  border: 1px solid white;
  background: black;
  display: inline-block;
  padding: 6px 8px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
@media (max-width: 480px) {
  #header .menu-btn {
    top: 22px;
  }
}
#header .menu-btn .line {
  background-color: #fff;
  height: 2px;
  width: 24px;
  display: block;
  right: 0;
  margin: 5px 0;
}
.fancybox-lock #header .menu-btn {
  display: none;
}
.fancybox-overlay-fixed {
  z-index: 80;
}
a.logo {
  float: left;
  display: block;
  width: 100px;
  height: 100px;
  text-indent: -999em;
  overflow: hidden;
  position: relative;
  z-index: 84;
}
@media (max-width: 480px) {
  a.logo {
    width: 72px;
    height: 72px;
    z-index: 22;
  }
}
a.logo.logo-n10 {
  background: url('../images/logo-n10.svg') 0 0 no-repeat;
  margin-right: 20px;
}
a.logo.logo-n10xtnd {
  background: url('../images/logo-n10xtnd.svg') 0 0 no-repeat;
}
nav.menu-overlay .left {
  float: left;
  width: 50%;
}
@media (max-width: 480px) {
  nav.menu-overlay .left {
    width: 100%;
  }
}
nav.menu-overlay .right {
  float: right;
  width: 50%;
}
@media (max-width: 480px) {
  nav.menu-overlay .right {
    width: 100%;
  }
}
nav.menu-overlay .right .infos {
  text-align: right;
  display: inline-block;
  width: 60%;
}
@media (max-width: 768px) {
  nav.menu-overlay .right .infos {
    text-align: left;
    display: block;
    padding-left: 22%;
    width: 344px;
  }
}
@media (max-width: 480px) {
  nav.menu-overlay .right .infos {
    padding-left: 10%;
  }
}
nav.menu-overlay .right h2 {
  font-family: 'Geogrotesque-SemiBold', Arial, Helvetica, sans-serif;
  color: gold;
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 0.04em;
}
@media (max-width: 480px) {
  nav.menu-overlay .right h2 {
    font-size: 20px;
  }
}
nav.menu-overlay .right p {
  font-family: 'Geogrotesque-Regular', Arial, Helvetica, sans-serif;
  font-size: 20px;
}
@media (max-width: 480px) {
  nav.menu-overlay .right p {
    font-size: 14px;
    margin-bottom: 5px;
  }
}
nav.menu-overlay .right p.line {
  width: 178px;
  border-bottom: 1px solid white;
  padding-bottom: 20px;
  text-transform: uppercase;
}
nav.menu-overlay .right p.line a {
  display: block;
  text-decoration: none;
}
nav.menu-overlay .right p.line a:hover {
  text-decoration: none;
}
nav.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 80;
  display: none;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}
nav.menu-overlay .menu-close {
  top: 10px;
  margin-right: 91%;
  right: 0px;
  height: 40px;
  width: 42px;
  background: black;
  position: absolute;
  cursor: pointer;
  padding: 7px 8px;
  border: 1px solid white;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
@media (max-width: 480px) {
  nav.menu-overlay .menu-close {
    top: 22px;
  }
}
nav.menu-overlay .menu-close .close-rotate {
  height: 30px;
  width: 30px;
  position: absolute;
  transition: transform 0.4s ease 0s;
  -moz-transition: transform 0.4s ease 0s;
  -webkit-transition: transform 0.4s ease 0s;
  -o-transition: transform 0.4s ease 0s;
}
nav.menu-overlay .menu-close .menu-line {
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background-color: #fff;
  display: block;
  height: 2px;
  width: 25px;
  position: absolute;
  margin-top: 11px;
}
nav.menu-overlay .menu-close .menu-line:first-child {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
nav.menu-overlay .menu-bg {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 700ms cubic-bezier(0.39, 0.575, 0.565, 1);
  -o-transition: opacity 700ms cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: opacity 700ms cubic-bezier(0.39, 0.575, 0.565, 1);
  -webkit-transition-delay: 400ms;
  -moz-transition-delay: 400ms;
  -o-transition-delay: 400ms;
  transition-delay: 400ms;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 81;
  width: 100%;
  height: 100%;
}
nav.menu-overlay .menu-bg .menu-bg-overlay-dark {
  float: left;
  width: 50%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
@media (max-width: 768px) {
  nav.menu-overlay .menu-bg .menu-bg-overlay-dark {
    display: none;
  }
}
nav.menu-overlay .menu-bg .menu-bg-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
@media (max-width: 768px) {
  nav.menu-overlay .menu-bg .menu-bg-overlay {
    background-color: rgba(0, 0, 0, 0.88);
  }
}
nav.menu-overlay .menu-container {
  position: relative;
  z-index: 102;
  width: 100%;
  height: 100%;
  color: #fff;
  text-align: left;
  display: inline-block;
}
nav.menu-overlay .menu-container ul.categories,
nav.menu-overlay .menu-container ul.onepage-pagination {
  margin: 0;
  width: 100%;
  display: inline-block;
  list-style: disc;
  text-align: left;
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  nav.menu-overlay .menu-container ul.categories,
  nav.menu-overlay .menu-container ul.onepage-pagination {
    margin-bottom: 20px;
  }
}
@media (max-width: 480px) {
  nav.menu-overlay .menu-container ul.categories,
  nav.menu-overlay .menu-container ul.onepage-pagination {
    margin-top: 20px;
  }
}
nav.menu-overlay .menu-container ul.categories li,
nav.menu-overlay .menu-container ul.onepage-pagination li {
  list-style: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 20px;
  font-weight: 500;
  margin: 0 0 0px;
  padding: 0;
}
nav.menu-overlay .menu-container ul.categories li a,
nav.menu-overlay .menu-container ul.onepage-pagination li a {
  display: block;
  color: white;
  font-size: 33px;
  font-family: 'LemonMilk', Arial, Helvetica, sans-serif;
  padding: 8px 0;
  padding-left: 40.5%;
  text-transform: uppercase;
}

nav.menu-overlay .menu-container ul.categories li a .filho,
nav.menu-overlay .menu-container ul.onepage-pagination li a .filho{
  display: block;
  color: white;
  font-size: 12px;
  font-family: 'LemonMilk', Arial, Helvetica, sans-serif;
  padding: 0px -1;
  padding-left: 40.5%;
  text-transform: uppercase;
}
@media (max-width: 1000px) {
  nav.menu-overlay .menu-container ul.categories li a,
  nav.menu-overlay .menu-container ul.onepage-pagination li a {
    padding: 14px 0;
    padding-left: 22%;
  }
}
@media (max-width: 768px) {
  nav.menu-overlay .menu-container ul.categories li a,
  nav.menu-overlay .menu-container ul.onepage-pagination li a {
    padding: 10px 0;
    padding-left: 12%;
    font-size: 32px;
  }
}
@media (max-width: 480px) {
  nav.menu-overlay .menu-container ul.categories li a,
  nav.menu-overlay .menu-container ul.onepage-pagination li a {
    padding: 4px 0;
    padding-left: 10%;
    font-size: 22px;
    letter-spacing: 3px;
  }
}
nav.menu-overlay .menu-container ul.categories li a:hover,
nav.menu-overlay .menu-container ul.onepage-pagination li a:hover,
nav.menu-overlay .menu-container ul.categories li a:active,
nav.menu-overlay .menu-container ul.onepage-pagination li a:active,
nav.menu-overlay .menu-container ul.categories li a.is-active,
nav.menu-overlay .menu-container ul.onepage-pagination li a.is-active {
  background: -moz-linear-gradient(left, rgba(255, 215, 0, 0.03) 0%, rgba(255, 215, 0, 0.94) 43%, gold 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(255, 215, 0, 0.03) 0%, rgba(255, 215, 0, 0.94) 43%, gold 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(255, 215, 0, 0.03) 0%, rgba(255, 215, 0, 0.94) 43%, gold 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#08ffffff', endColorstr='@main-color', GradientType=1);
  /* IE6-9 */
  text-decoration: none;
  color: white;
}
nav.menu-overlay .menu-container ul.categories li.active a,
nav.menu-overlay .menu-container ul.onepage-pagination li.active a {
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0.03) 0%, rgba(250, 36, 88, 0.94) 43%, gold 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.03) 0%, rgba(250, 36, 88, 0.94) 43%, gold 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(255, 255, 255, 0.03) 0%, rgba(250, 36, 88, 0.94) 43%, gold 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#08ffffff', endColorstr='@main-color', GradientType=1);
  /* IE6-9 */
  text-decoration: none;
  color: white;
}
nav.menu-overlay .menu-container .language-menu {
  margin-left: 80px;
}
@media (max-width: 768px) {
  nav.menu-overlay .menu-container .language-menu {
    float: left;
    margin-left: 22%;
    margin-bottom: 20px;
  }
}
@media (max-width: 480px) {
  nav.menu-overlay .menu-container .language-menu {
    margin-left: 10%;
  }
}
nav.menu-overlay .menu-container .language-menu a {
  font-family: 'Geogrotesque-SemiBold', Arial, Helvetica, sans-serif;
  font-size: 20px;
  vertical-align: middle;
}
nav.menu-overlay .menu-container .language-menu a:hover {
  text-decoration: none;
}
nav.menu-overlay .menu-container .outer {
  display: table;
  width: 100%;
  height: 100%;
  max-width: 1920px;
  margin: 0 auto;
}
nav.menu-overlay .menu-container .outer .inner {
  display: table-cell;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}
@media (max-width: 480px) {
  nav.menu-overlay .menu-container .outer .inner {
    vertical-align: top;
  }
}
nav.menu-overlay .menu-container .outer .inner .scr_menu {
  overflow-x: hidden;
}
nav.menu-overlay .menu-container .outer .inner .scr_menu .inner {
  padding: 0;
}
nav.menu-overlay.is-active {
  opacity: 1;
}
nav.menu-overlay.is-active .menu-bg {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  -webkit-transition: opacity 500ms cubic-bezier(0.455, 0.03, 0, 1);
  -moz-transition: opacity 500ms cubic-bezier(0.455, 0.03, 0, 1);
  -o-transition: opacity 500ms cubic-bezier(0.455, 0.03, 0, 1);
  transition: opacity 500ms cubic-bezier(0.455, 0.03, 0, 1);
}
.list-nav-social {
  position: relative;
  width: 186px;
  float: right;
}
@media (max-width: 768px) {
  .list-nav-social {
    float: left;
    width: 198px;
  }
}
@media (max-width: 480px) {
  .list-nav-social {
    width: 250px;
    margin: 0;
  }
}
.list-nav-social li {
  float: left;
  margin: 5px 0px 15px 22px;
  height: 40px;
}
@media (max-width: 768px) {
  .list-nav-social li {
    margin: 5px 10px 5px 0px;
  }
}
.list-nav-social li a {
  display: inline-block;
  position: relative;
  padding: 0;
  cursor: pointer;
  font-size: 0;
  overflow: hidden;
  text-indent: -9999em;
  text-align: left;
}
.list-nav-social li a {
  width: 40px;
  height: 40px;
  background-image: url(../images/nav-sprite.svg);
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: 0 0;
}
@media (max-width: 480px) {
  .list-nav-social li a {
    width: 30px;
    height: 30px;
    background-size: 29px;
  }
}
.list-nav-social li a.instagram {
  background-position: 1px -119px;
}
@media (max-width: 480px) {
  .list-nav-social li a.instagram {
    background-position: 1px -86px;
  }
}
.list-nav-social li a.facebook {
  background-position: 1px 0px;
}
@media (max-width: 480px) {
  .list-nav-social li a.facebook {
    background-position: 1px 1px;
  }
}
.list-nav-social li a.tweeter {
  background-position: 1px -62px;
  background-size: 44px;
}
@media (max-width: 480px) {
  .list-nav-social li a.tweeter {
    background-position: 1px -45px;
    background-size: 32px;
  }
}
.list-nav-social li a.linkedin {
  background-position: 1px -178px;
}
@media (max-width: 480px) {
  .list-nav-social li a.linkedin {
    background-position: 1px -129px;
  }
}
.list-nav-social li a.pinterest {
  background-position: 0 -238px;
}
@media (max-width: 480px) {
  .list-nav-social li a.pinterest {
    background-position: 1px -172px;
  }
}
.list-nav-social li a.youtube {
  background-position: 0 -298px;
}
@media (max-width: 480px) {
  .list-nav-social li a.youtube {
    background-position: 1px -214px;
  }
}
#radio {
  float: right;
  display: block;
  width: 55px;
  height: 55px;
  margin: 4px 0 0 40px;
  background: url(../images/radio_on_black_header.gif) 0 0 no-repeat;
}
@media (max-width: 768px) {
  #radio {
    float: left;
    margin: 4px 40px 0 0;
  }
}
@media (max-width: 480px) {
  #radio {
    background-size: 40px;
    width: 40px;
    height: 40px;
  }
  #radio:hover {
    background-size: 40px;
    width: 40px;
    height: 40px;
  }
}
#story {
  height: 700px;
}
#branding {
  background: url('../img/branding-fox-desktop.png') black center center no-repeat;
  position: relative;
}
@media (min-width: 1900px) {
  #branding {
    background: url('../img/branding-fox-desktop.png') black center center repeat-x;
  }
}
#branding .appendix {
  bottom: 0;
  top: 748px;
  position: absolute;
  background-position: -120px bottom;
  background-image: url(../img/branding-bg.png);
  background-size: 1280px;
  height: 190px;
}
#branding .appendix2 {
  height: 140px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: black;
}
.branding {
  z-index: 13;
}
.infograph {
  display: none;
}
#transmedia .appendixtop {
  height: 165px;
  z-index: 22;
  background-image: url(../img/spirit-nuage-top.png);
  background-position: top 50%;
  background-repeat: repeat-x;
  background-size: auto;
  position: absolute;
  left: 0;
  top: 0px;
  width: 100%;
}
/*---------------------------------------------------------------
	FOOTER
----------------------------------------------------------------*/
/*#contact {
	position: relative;
	padding-bottom: 40px;
	height:1065px;
	.container{
		margin-top:100px;
	}
	.module {
		color: white;
	    margin: 0;
	    width: 100%;
	    min-height: 200px;
	    @media (max-width: 992px) {
	    	margin-bottom: 20px;
	    	min-height: auto;
	    }
	}
	.latest-news .viewport {
	    height: 200px;
	    overflow: hidden;
	    @media (max-width: 992px) {
	        //height: 100px; à corriger aussi sur le JS du changement de news	
	    }
	}
}*/
/*---------------------------------------------------------------
	PAGE WORKS
----------------------------------------------------------------*/
.portfolio-container {
  position: relative;
  width: 100%;
  color: #fff;
}
.portfolio-container .container {
  position: relative;
}
.portfolio-container .col {
  padding: 20px 15px;
}
.portfolio-container .col-last {
  margin-right: 0;
}
.portfolio-container img {
  width: 100% !important;
  height: auto !important;
}
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.portfolio-breadcrumb {
  padding-top: 116px;
}
.portfolio-breadcrumb ul.list-breadcrumb {
  margin: 0px 0 0 156px;
}
