.prodserv {
    background-color: gray; /* Green */
    width: 25%;
    border: none;
    color: white;
    padding: 50px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    /*font-weight:bold;*/
}

.prodserv5 {
    background-color: gray; /* Green */
    width: 35%;
    border: none;
    color: white;
    padding: 50px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    /*font-weight:bold;*/
}

.prodserv2 {
    background-color: gray; /* Green */
    width: 11.5%;
    border: none;
    color: white;
    padding: 22px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    /*font-weight:bold;*/
}

.prodserv4 {
    background-color: gray; /* Green */
    width: 20.5%;
    border: none;
    color: white;
    padding: 22px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    /*font-weight:bold;*/
}

.prodserv3 {
    background-color: black; /* Green */
    width: 20.5%;
    border: none;
    color: white;
    padding: 22px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    /*font-weight:bold;*/
}

@media only screen and (max-width: 1337px)
{
    .prodserv2 
    {
        width: 9.5%;
        padding: 3px 3px 3px 3px;
    }
}
@media only screen and (max-width: 1261px)
{
    .prodserv2 
    {
        width: 10%;
        padding: 4px 4px 4px 4px;
    }
}
@media only screen and (max-width: 1218px)
{
    .prodserv2 
    {
        width: 11.5%;
        padding: 9px 9px 8px 8px;
    }
}
@media only screen and (max-width: 1138px)
{
    .prodserv2 
    {
        width: 11.5%;
        padding: 9px 6px 8px 7px;
    }
}
@media only screen and (max-width: 1102px)
{
    .prodserv2 
    {
        width: 11.3%;
        padding: 9px 4px 8px 3px;
    }
}
@media only screen and (max-width: 1081px)
{
    .prodserv2 
    {
        width: 11.3%;
        padding: 9px 2px 8px 2px;
    }
}
@media only screen and (max-width: 1054px)
{
    .prodserv2 
    {
        width: 11.5%;
        padding: 6px 1px 0px 2px;
    }
}

@media only screen and (max-width: 942px)
{
    .prodserv 
    {
        width: 35%;
        margin: 4px 0px;
    }
    .prodserv2 
    {
        width: 46%;
        margin: 4px 2px;
        padding: 13px 2px 13px 2px;
    }
    .prodserv5 
    {
        width:100%;
        margin: 4px 0px;
    }
    .prodserv4 
    {
        width: 100%;
        margin: 4px 0px;
    }
    .prodserv3 
    {
        width: 100%;
        margin: 4px 0px;
    }
}
@media only screen and (max-width: 777px)
{
    .prodserv 
    {
        width: 35%;
        margin: 4px 0px;
    }
    .prodserv2 
    {
        width: 46%;
        margin: 4px 2px;
        padding: 13px 70px 13px 70px;
    }
    .prodserv5 
    {
        width:100%;
        margin: 4px 0px;
    }
    .prodserv4 
    {
        width: 100%;
        margin: 4px 0px;
    }
    .prodserv3 
    {
        width: 100%;
        margin: 4px 0px;
    }
}
@media only screen and (max-width: 555px)
{
    .prodserv 
    {
        width: 35%;
        margin: 4px 0px;
    }
    .prodserv2 
    {
        width: 46%;
        margin: 4px 2px;
        padding: 13px 2px 13px 2px;
    }
    .prodserv5 
    {
        width:100%;
        margin: 4px 0px;
    }
    .prodserv4 
    {
        width: 100%;
        margin: 4px 0px;
    }
    .prodserv3 
    {
        width: 100%;
        margin: 4px 0px;
    }
}
@media only screen and (max-width: 404px)
{
    .prodserv 
    {
        width: 70%;
        margin: 4px 0px;
    }
    .prodserv2 
    {
        width: 80%;
        margin: 4px 4px;
    }
    .prodserv5 
    {
        width: 100%;
        margin: 4px 0px;
    }
    .prodserv4 
    {
        width: 100%;
        margin: 4px 0px;
    }
    .prodserv3 
    {
        width: 100%;
        margin: 4px 0px;
    }
}
.button2:hover {
	background-color: gold;
    color: black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.7);
}