@CHARSET "ISO-8859-1";
.section2 {
	background-image: url("../images/section_0_bg.jpg");
	background-repeat: no-repeat;
	background-size: auto;
}
.section12 {
	background-image: url("../images/habilidades.jpg");
	background-repeat: no-repeat;
	background-size: auto;
}

.section2 h1{
	font-family: "nudista-web-1", "Helvetica Neue", Arial, serif;
	font-size: -webkit-xxx-large;
	text-align: center;
	text-transform: uppercase;
	font: "Times New Roman"";
}

.section2 ul li{
	font-family: "nudista-web-1", "Helvetica Neue", Arial, serif;
	text-align: center;
	text-transform: uppercase;
	font: "Times New Roman"";
}
.section3 {
	background-image: url("../images/section_4_bg.jpg");
	background-repeat: no-repeat;
	background-size: auto;
}
.section4 {
	background-image: url("../images/section_2_bg.jpg");
}

.section5 {
	background-image: url("../images/sec.jpg");
}
.sectioncli {
	background-image: url("../images/cli_sec.jpg");
	background-repeat: no-repeat;
	background-size: auto;
}
.sectiontest {
	background-image: url("../images/secsec0.jpg");
	background-repeat: no-repeat;
	background-size: auto;
}

/*IPHONE 5*/
@media screen and (max-width: 380px) 
{
    .sectiontest {
	    background-image: url("../images/secsec1.jpg");
	    background-repeat: no-repeat;
	    background-size: auto;
    }
}

/*outros parelhos*/
@media screen and (min-width: 381px) and (max-width: 500px) 
{
    .sectiontest {
	    background-image: url("../images/secsec2.jpg");
	    background-repeat: no-repeat;
	    background-size: auto;
    }
}
.sectiontest {
	background-color: #83bfab;;
}
html, body {
	height:auto;
}