@CHARSET "ISO-8859-1";
.section2 {
	background-image: url("../images/section_0_bg.jpg");
	background-repeat: no-repeat;
	background-size: auto;
}

.section2 h1{
	font-family: "nudista-web-1", "Helvetica Neue", Arial, serif;
	font-size: -webkit-xxx-large;
	text-align: center;
	text-transform: uppercase;
	font: "Times New Roman"";
}

.section2 ul li{
	font-family: "nudista-web-1", "Helvetica Neue", Arial, serif;
	text-align: center;
	text-transform: uppercase;
	font: "Times New Roman"";
}
.section3 {
	background-image: url("../images/section_4_bg.jpg");
	background-repeat: no-repeat;
	background-size: auto;
}
.section4 {
	background-image: url("../images/section_2_bg.jpg");
}
.sectioncli {
	background-image: url("../images/cli_sec.jpg");
	background-repeat: no-repeat;
	background-size: auto;
}
html, body {
	height:auto;
}